<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <appSettings>
    <add key="mysqlConn" value="server=192.168.2.215;port=6001;User Id=supportlcl;password=PWD_ALittleSupport@20190811; Database=alittlesupport;"/>
    <add key="userName" value="liuchanglu"/>
    <add key="password" value="123456"/>
    <add key="portalUserName" value="lyg-xjc-jt"/>
    <add key="portalPassword" value="!QAZ2wsx"/>
  </appSettings>
</configuration>